.heading {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.description {
    font-family: "Raleway";
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .heading {
        font-size: 20px;
    }
}