.template {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px 80px 80px 80px;
}

.question {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
}

.explanation {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #c6c6c6;
    font-size: 17px;
}

ul.explanation {
    padding-left: 1rem;
}

hr {
    background: #000;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

.generateButton {
    align-self: center;
    margin-top: 20px;
}


.heading {
    font-family: "Raleway";
    font-size: 24px;
}

.button {
    padding: 3rem;
}

.error {
    color: red;
    text-align: center;
    margin: 10px 0;
}

.MuiOutlinedInput-root.error .MuiOutlinedInput-notchedOutline {
    border-color: red;
}

.MuiInputLabel-root.error {
    color: red !important;
}

.MuiInputLabel-root.error.Mui-focused {
    color: red !important;
}


@media (max-width: 750px) {
    .template {
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading {
        font-size: 20px;
    }
    .question {
        font-size: 16px;
    }
}